<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
      <%= form_for @producto do |f| %>
        <% if @producto.errors.any? %>	
      	 <div class="alert alert-danger" id="error_explanation">
      	   <h4>Error, no se permite guardar este producto debido a:</h4>
      	   <ul>
              <% @producto.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
          </ul>
         </div>
        <% end %>
      <div class="col col-md-6 col-md-offset-3">

      <div class="form-group">
        <%= f.label :nombre %><br>
        <%= f.text_field :nombre, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :descripcion %><br>
        <%= f.text_field :descripcion, :class => "form-control" %>
      </div>

      <div class="form-group">    
        <%= f.label "precio ($)" %><br>
        <%= f.text_field :precio, :class => "form-control" %>
      </div>

      <div class="form-group">    
        <%= f.label :marca %><br>
        <%= f.collection_select :marca_id, Marca.all, :id, :nombre, :prompt => "Seleccione la marca", :class => "dropdown-menu" %>
      </div>
     
      <p>
        <%= f.submit %>
      </p>

      <% end %>
      <%= link_to 'Atrás', productos_path, :class => "btn btn-primary btn-lg outline" %>
    </div>  
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
