 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container text-center">
    <h1>Lista de Productos</h1>
     <div class="row">
      <div class="col col-md-6 col-md-offset-3">
      <table class="table table-striped">
        <tr>
          <th style="text-align: center;">Producto</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <% @productos.each do |producto| %>
          <tr>
            <td><%= producto.nombre %></td>
            <td><%= link_to 'Mostrar', producto_path(producto) %></td>
            <td><%= link_to 'Editar', edit_producto_path(producto) %></td>
            <td><%= link_to 'Eliminar', producto_path(producto),
                    method: :delete,
                    data: { confirm: '¿Está seguro que desea eliminar este producto?' }, :class => "text-danger" %></td>

          </tr>
        <% end %>
      </table>
      </div>
     </div>
      <div class="row">
      <%= link_to 'Nuevo producto', new_producto_path, :class => "btn btn-primary" %> 
      <%= link_to 'Menú principal', index_home_path,:class => "btn btn-primary" %>
    </div>
    <h4>Suma total de precios: $<%= Producto.sum(:precio) %></h4>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>